<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>create</title>
</head>
<body>
<form th:action="@{/notes}" method="post" th:object="${note}">
    <H1>Новая заметка</H1><br>
    <label for="noteName">Название:
        <input id="noteName" type="text" name="noteName" th:value="*{noteName()}">
        <button type="submit">Создать </button>
    </label>
</form><br>

<form th:action="@{/notes}" method="get">
    <button type="submit">Назад</button>
</form>
</body>
</html>